* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: #333;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}

.container {
	min-width: 500px;
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	background-color: #ddd;
	display: none;



	
}


.box {
	position: relative;
	width: 30%;
	height: 30%;
	margin: 6.5px;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover .circle {
		opacity: 0.5;
	}

	&:hover .cross {
		opacity: 0.5;
	}
}

.circle {
	opacity: 0;
	position: absolute;
	width: 80%;
	height: 80%;
	border: 4px solid white;
	border-radius: 50%;
	transition: opacity 0.3s;
}

.cross {
	opacity: 0;
	position: relative;
	width: 80%;
	height: 80%;
	height: 4px;
	background-color: white;
	transform: rotate(-45deg);
	transition: opacity 0.3s;
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		content: '';
		width: 100%;
		height: 100%;
		height: 4px;
		background-color: white;
		transform: translate(-50%, -50%) rotate(-90deg);
	}
}

.player-panel {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 2rem;
	display: none;

	.player-choose {
		position: relative;
		display: flex;
	}

	.box {

		width: 150px;
		height: 150px;
		margin: 20px;
		transition: transform .3s, border-radius .3s;

		.circle,
		.cross {
			opacity: 1;
			transition: border .3s, opacity .3s, background-color .3s;

		}

		
	

		.cross::after{
			transition: background-color .3s;
		}

		&:hover .circle {
			opacity: 0.5;
			border: 3px solid greenyellow;
		}
		&:hover .cross {
			opacity: 0.5;
			background-color: greenyellow;
		}
		&:hover .cross::after {
			background-color: greenyellow;
		}

		&:hover {
			transform: scale(1.05);
			border-radius: 8px;
		}
	}
}


.active{
	display: flex;
}
